<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= gym.title %>  - Active Yelp</title>
</head>

<body>
    <form action="/gyms/<%= gym._id %>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="gym[title]" value="<%= gym.title %>">
            <label for="location">Location</label>
            <input type="text" id="location" name="gym[location]" value="<%= gym.location %>">
        </div>
        <br>
        <div>
            <textarea id="description" name="gym[description]" cols="53 " rows="5"><%= gym.description %></textarea>
        </div>
        <br>
        <button>Add Gym</button>
    </form>
    <br><br>
    <a href="/gyms/<%= gym._id %>">&larr; Back to the gym's page</a>
</body>

</html>