<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= gym.title %> - Active Yelp</title>
</head>
<body>
    <header>    
        <a href="/gyms">All Gyms</a>
    </header>
    <h1><%= gym.title %></h1>
    <h2><%= gym.location %></h2>
    <h5><%= gym.description %></h5>
    <p><a href="/gyms/<%=gym._id%>/edit">Edit</a></p>
    <p>
        <form action="/gyms/<%=gym._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </p>
    <hr>
    <% if (user) { %>
    <h3>Deixe uma review!</h3>
    <form action="/gyms/<%= gym._id %>" method="POST">
        <div> 
            <label for="rating">Rating: </label>
            <input type="range" name="review[rating]" id="rating" min="1" max="5">
        </div>
        <br>
        <div>
            <label for="description">Review:</label>
            <br>
            <textarea name="review[description]" id="description" cols="30" rows="6"></textarea>  
        </div>
        <br>
        <button>Enviar</button>
    <br>
    </form>
    <% } %>
    <h3>Reviews</h3>
    <% for (review of gym.reviews) {%>
    <div>
        <%= review.author.username %>
    </div>
    <div>
        Rating: <%= review.rating %>
    </div>
    <div>
        Review: <%= review.description %>
    </div>
    <% if ( user && (review.author._id.toString() === user._id.toString())) { %>
    <form action="/gyms/<%= gym._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
        <button>Delete review</button>
    </form>
    <% } %>
    <br>
    <% } %> 
</body>

</html>
