<% layout('/layouts/boilerplate') -%>

<% block('head').append(`<title>Edit gym · ActiveYelp</title>`) %>

<h4 class="text-center mb-4">Preencha com os novos dados da academia</h4>

<form action="/gyms/<%= gym._id %>/?_method=PUT" method="POST" enctype="multipart/form-data"
    class="row g-3 needs-validation text-center justify-content-center mx-auto" novalidate>
    <div class="col-md-10 col-lg-7 col-xl-6">
        <label for="title" class="form-label">Nome do local</label>
        <input type="text" class="form-control" id="title" name="gym[title]" value = "<%= gym.title %>" required>
        <div class="valid-feedback">
            Parece ser válido!
        </div>
        <div class="invalid-feedback">
            É necessário inserir o nome do local.
        </div>
    </div>
    <div class="col-md-10 col-lg-8 col-xl-7">
        <label for="location" class="form-label">Endereço</label>
        <input type="text" class="form-control" id="location" name="gym[location]" value = "<%= gym.location %>" required
        placeholder="Exemplo: Rua A, número 1. Bairro B. Cidade C - Estado D">
        <div class="valid-feedback">
            Parece ser válido!
        </div>
        <div class="invalid-feedback">
            É necessário inserir o endereço.
        </div>
    </div>
    <div class="col-md-10 col-lg-8 col-xl-7">
        <label for="description" class="form-label">Descrição</label>
        <textarea class="form-control" id="description" name="gym[description]" required><%= gym.description %></textarea>
        <div class="valid-feedback">
            Parece ser válido!
        </div>
        <div class="invalid-feedback">
            É necessário inserir ao menos uma breve descrição.
        </div>
    </div>
    <div class="col-md-10 col-lg-7 col-xl-6">
        <label for="images" class="form-label">Selecionar novas imagens</label>
        <input type="file" class="form-control" id="images" name="images" multiple>
    </div>
    <h6>Selecione as imagens que deseja <span class="text-danger">deletar</span> abaixo:</h6>
    <% gym.images.forEach(img=> { %>
        <% if(img && img.url) { %> 
    <div class="form-check col-lg-3 mx-lg-3 mx-xl-0">
        <input class="form-check-input" type="checkbox" name="deleteImages" value="<%= img.fileName %>" id="img-<%= img.fileName %>">
        <label class="form-check-label" for="img-<%= img.fileName %>">
            <img src="<%= img.thumbnail %>" class="img-fluid img-thumbnail" style="width:200px; height: 200px;" alt="">
        </label>
    </div>
    <% } %> 
    <% }) %>
    <div class="col-12 mt-4">
        <button class="btn btn-success" type="submit">Salvar alterações</button>
    </div>
</form>

    <script src="/scripts/formValidation.js"></script>
