<% layout('/layouts/boilerplate') -%>

<% block('head').append(`<title>Edit gym · ActiveYelp</title>`) %>

<h2 class="text-center">Fill in the form with the gym information</h2>
<form action="/gyms/<%= gym._id %>/?_method=PUT" method="POST" enctype="multipart/form-data" class="row g-3 needs-validation w-50 text-center justify-content-center mx-auto" novalidate>
    <div class="col-md-12">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="gym[title]" value = "<%= gym.title %>" required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please enter the gym title.
        </div>
    </div>
    <div class="col-lg-8">
        <label for="location" class="form-label">Location</label>
        <input type="text" class="form-control" id="location" name="gym[location]" value = "<%= gym.location %>" required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please enter the gym location.
        </div>
    </div>
    <div class="col-md-12">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="gym[description]" required><%= gym.description %></textarea>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please enter a description for the gym.
        </div>
    </div>
    <div class="col-md-8">
        <label for="images" class="form-label">Image</label>
        <input type="file" class="form-control" id="images" name="images" multiple>
    </div>
    <h6>You can select the gym images you wish to <span class="text-danger">delete</span> below:</h6>
    <% gym.images.forEach(img=> { %>
        <% if(img && img.url) { %> 
    <div class="form-check col-lg-6">
        <input class="form-check-input" type="checkbox" name="deleteImages" value="<%= img.fileName %>" id="img-<%= img.fileName %>">
        <label class="form-check-label" for="img-<%= img.fileName %>">
            <img src="<%= img.url %>" class="img-fluid img-thumbnail" style="width:200px; height: 200px;" alt="">
        </label>
    </div>
    <% } %> 
    <% }) %>

    <div class="col-12">
        <button class="btn btn-success" type="submit">Submit form</button>
    </div>
</form>

    <script src="/scripts/formValidation.js"></script>
