<% layout('/layouts/boilerplate') -%>
   
<% block('head').append('<title>Gyms · ActiveYelp</title>') %>
<% block('head').append('<link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet">') %>
<% block('head').append('<script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>') %>
<% block('head').append('<link rel="stylesheet" type="text/css" href="/css/app.css">') %>

<div id="map" class="mapboxgl-map rounded mx-auto mb-3" style="width: 99.5%; height: 65vh;"></div> 

<h2 class="mb-4 mt-5 text-center">Explore as academias</h2>

<% gyms.forEach(gym => { %>
<div class="card card-shadow index-card col-11 col-sm-10 col-md-10 col-lg-12 mx-auto mb-3">
    <div class="row">
        <div class="col-lg-4 p-lg-0">
            <div class="ratio" style="--bs-aspect-ratio: 80%;">
            <img src="<%= gym.images[0].carouselUrl %> " class="img-fluid" alt="gym image">
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card-body text-center text-lg-start">
                <h5 class="card-title"><%= gym.title %></h5>
                <p class="card-text text-center text-lg-start"> 
                    <%= gym.description.substr(0, 197) %><% if(gym.description.length > 197) { %>...<% } %>
                </p> 
                <p class="card-text">
                    <small class="text-muted"><%= gym.location %></small>
                </p>
                <a href="/gyms/<%= gym._id %>" class="btn text-light" style="background-color: #3a6332"> 
                    Ver mais detalhes
                </a>
            </div>
        </div>
    </div>
</div>
<% }) %>

<script>
    const mapboxToken = '<%-process.env.MAPBOX_TOKEN%>';
    // Script de criação dos dados geoJSON para renderização do cluster map.
    const gyms = <%- JSON.stringify(gyms) %>;
    const gymGeoData = { 'type': 'FeatureCollection', 'features': [] };
    for (gym of gyms) {
        gymGeoData.features.push({
            'type': 'Feature',
            'geometry': gym.geometry,
            'properties': { id: gym._id, title: gym.title, description: gym.description }
        })
    };
</script>
<script src="/scripts/clusterMap.js"></script>

