<% layout('/layouts/boilerplate') -%>

<% block('head').append('<title>Gym details · ActiveYelp</title>') %>
<% block('head').append('<link rel="stylesheet" type="text/css" href="/css/starability-basic.min.css">') %>
<% block('head').append('<link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet">') %>
<% block('head').append('<script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>') %>

<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-6 mb-5">
        <% if (gym.images.length && gym.images[0] && gym.images[0].url) { %>  
        <div class="card">
            <div id="carouselExampleControls" class="carousel slide"  data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="ratio" style="--bs-aspect-ratio: 60%;">
                            <img src="<%= gym.images[0].carouselUrl %>" class="d-block card-img-top" alt="gym image">
                        </div>
                    </div>
                    <% gym.images.slice(1).forEach(img => { %>
                        <% if (img && img.url) { %>
                    <div class="carousel-item">
                        <div class="ratio" style="--bs-aspect-ratio: 60%;">
                            <img src="<%= img.carouselUrl %>" class="d-block card-img-top" alt="gym image">
                        </div>
                    </div>
                        <% } %>
                    <% }) %> 
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="card-body">
                <h5 class="card-title text-dark"><%= gym.title %> </h5>
                <p class="card-text text-dark"><%= gym.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><%= gym.location %></li>
            </ul>
            <div class="card-footer text-muted">
                Submited by <%= gym.author.username %> 
            </div>
        <% } %>
        </div>
        <% if (gym.author) {%> 
        <% if (user && (String(gym.author._id) === String(user._id)) ) { %> 
        <div class="text-center text-xl-start ms-xl-1">
        <a class="btn btn-primary btn-sm mt-3 me-1 me-xl-2" href="/gyms/<%= gym._id %>/edit">Edit gym</a>
        <form class="d-inline" action="/gyms/<%= gym._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger btn-sm mt-3">Delete gym</button>
        </form>
        </div>
        <% } %>
        <% } %>
    </div>
    <div class="col-12 col-md-10 col-lg-6 mb-3">          
        <div id="map" class="w-100 mb-3" style="aspect-ratio:2/1"></div>
        <h4 class="mb-3 text-center">New Review</h4>
        <form action="/gyms/<%= gym._id %>/reviews" method="POST">
            <div class="mb-3">
                <fieldset class="starability-basic">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating.">
                    <input type="radio" id="first-rate1" name="review[rating]" value="1">
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2">
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3">
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4">
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5">
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
            </div>
            <div class="mb-3">
                <label for="review-description" class="form-label">Leave a description of your review:</label>
                <textarea class="form-control" id="review-description" name="review[description]" rows="3"></textarea>
            </div>
            <button class="btn btn-success btn-sm ms-1">Submit review</button>
        </form>
    </div>
    <div class="col-12 col-md-10 col-lg-12">
        <h4 class="text-center">Reviews</h4>
        <% if (!gym.reviews) { %>
            <div>There's no review for this gym yet...</div>
        <% } else { %>
            <% gym.reviews.forEach(review => { %>
                <% if (review) { %>   
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">
                                <% if(review.author) { %> 
                                    <%= review.author.username %> 
                                <% } %>
                            </h5>
                            <div class="card-text">
                                <p class="starability-result" data-rating="<%= review.rating %>">
                                    Rated: <%= review.rating %> stars
                                </p>
                                <p>
                                    <%= review.description %>
                                </p>
                                <p>
                                    <% if (user && (String(review.author._id)===String(user._id))) { %>
                                    <form action="/gyms/<%= gym._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-outline-danger btn-sm"> Delete review </button>
                                    </form>
                                    <% } %>
                                </p>
                            </div>
                        </div>
                    </div>
                <% } %> 
            <% }) %> 
        <% } %>
    </div>
</div>

<script> const gym = <%- JSON.stringify(gym) %> </script>
<script src="/scripts/singleGymMap.js"></script>
