<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym <%= gym.title %> </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/starability-basic.min.css">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" >
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>

</head>

<body>
   
    <%- include ('../partials/navbar') %>

    <main class="container mt-5 mb-4">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-6 mb-3">
                <div class="card">
                <% if (gym.images.length && gym.images[0] && gym.images[0].url) { %>  
                    <div id="carouselExampleControls" class="carousel slide"  data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="ratio" style="--bs-aspect-ratio: 60%;">
                                    <img src="<%= gym.images[0].url %>" class="d-block card-img-top" alt="gym image">
                                </div>
                            </div>
                            <% gym.images.slice(1).forEach(img => { %>
                                <% if (img && img.url) { %> 
                            <div class="carousel-item">
                                <div class="ratio" style="--bs-aspect-ratio: 60%;">
                                    <img src="<%= img.url %>" class="d-block card-img-top" alt="gym image">
                                </div>
                            </div>
                                <% } %>
                            <% }) %> 
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <% } %>
                    <div class="card-body">
                        <h5 class="card-title text-dark"><%= gym.title %> </h5>
                        <p class="card-text text-dark"><%= gym.description %></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><%= gym.location %></li>
                    </ul>
                    <div class="card-footer text-muted">
                        Submited by <%= gym.author.username %>
                    </div>
            </div>
            <% if (gym.author) {%> 
            <% if (user && (String(gym.author._id) === String(user._id)) ) { %> 
            <a class="btn btn-primary btn-sm mt-3" href="/gyms/<%= gym._id %>/edit">Edit gym</a>
            <form class="d-inline" action="/gyms/<%= gym._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger btn-sm mt-3">Delete gym</button>
            </form>
            <% } %>
            <% } %>
            </div>
            <div class="col-12 col-md-10 col-lg-6 mb-3">

                <div id="map" class="w-100 mb-3" style="aspect-ratio:2/1"></div>
                
                <h4 class="mb-3 text-center">New Review</h4>
                <form action="/gyms/<%= gym._id %>/reviews" method="POST">
                    <div class="mb-3">
                        <fieldset class="starability-basic">
                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating.">
                            <input type="radio" id="first-rate1" name="review[rating]" value="1">
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2">
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rating]" value="3">
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rating]" value="4">
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rating]" value="5">
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                    </div>
                    <div class="mb-3">
                        <label for="review-description" class="form-label">Leave a description of your review:</label>
                        <textarea class="form-control" id="review-description" name="review[description]" rows="3"></textarea>
                    </div>
                    <button class="btn btn-success btn-sm">Submit review</button>
                </form>  
            </div>
            <hr>
            <div class="col-12 col-md-10 col-lg-12">
                <h4 class="text-center">Reviews</h4>
                <% if (!gym.reviews) { %>
                There's no review for this gym yet...
                <% } else { %>
                <% gym.reviews.forEach(review => { %>
                    <% if (review) { %>
                <div class="mb-2"> 
                    <% if(review.author) { %> <strong> <%= review.author.username %> </strong> <% } // Relevante caso não se delete as reviews/gyms ao se deletar uma conta %>   
                </div>
                <div class="starability-result" data-rating="<%= review.rating %>">
                    Rated: <%= review.rating %> stars
                </div>    
                <div class="mt-3 mb-3">                                
                    Review: <%= review.description %>
                </div>
                <% if (user && (String(review.author._id)===String(user._id))) { %>
                <form class="mb-3" action="/gyms/<%= gym._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                    <button class="mb-3 btn btn-outline-danger btn-sm"> Delete review </button>
                </form>
                <% } %>
                <% } %> 
                <% }) %> 
            <% } %>
            </div>
        </div>
    </main>

    <%- include ("../partials/footer.ejs") %> 
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous">
    </script>
    
    <script> const gym = <%- JSON.stringify(gym) %> </script>
    <script src="/scripts/singleGymMap.js"></script>
</body>

</html>